.masters {
    background-color: #F7F7F7;
}

.masters__pre-text {
    margin-bottom: 20px;

    color: var(--third-text-color);
}

.masters__title {
    margin-bottom: 44px;

    color: var(--secondary-title-color);
}

.masters__list {
    display: flex;
}

.masters__item {
    width: 370px;
}

.masters__item + .masters__item {
    margin-left: 30px;
}

.master__description {
    margin-top: 30px;
}

.masters__item-title {
    margin-bottom: 8px;

    color: var(--third-text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.39;
    letter-spacing: 0.02em;
}

.masters__item-text {
    margin-bottom: 30px;

    color: #FF6C00;

    text-align: center;
}

.social-links__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link__item {
    width: 44px;
    height: 44px;
}

.social-link__item + .social-link__item {
    margin-left: 10px;
}

.social__link {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 500ms linear;
    &:hover,
    &:focus {
            fill: var(--accent-color);
        }
}

.social__icon {
    transition: fill 500ms linear;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}
